@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


body {
    font-size: 12pt;
    font-family: Roboto,Helvetice, sans-serif;
    /*background-image: linear-gradient(to right,#262B8C,#1a1d5f); */
    background-color: #fff;
    color: rgb(0, 0, 0);
    text-align: justify;
}
h1 {
    text-align: center;
    font-family: Ubuntu, sans-serif;
}
footer {
    text-align: center;
}
h2 {
    font-family: Ubuntu, sans-serif;
    color: #ffab10;
}
main {
    margin-left: 100px;
    width: 1100px;

}

.identacao {
    text-indent: 40px;
}

#lado {
    float: left;
}

#redes {
    margin-top: 10px;
    margin-left: 50px;
}
