@charset "UTF-8";

* {
    font-family: 'Courier New', Courier, monospace;
    line-height: 2em;
    text-align: justify;
}

header {
    display: none;
}

a {
    text-decoration: none;
}

h2 {
    padding-bottom: 0px;
}

audio {
    display: none;
}

video {
    display: none;
}

footer {
    display: none;
}

p.textofinal {
    display: none;
}

#final::after {
    content: 'Impressão retirada do site criado por Edson Araújo com intuito de estudos. Todos os direitos devidamente creditados.';
}